* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 978px;
  margin: auto;
}

.faqContainer .container .faq h2 {
  font-size: 24px;
}

.faqContainer .container .faq p {
  margin: 10px 0;
  font-size: 14px;
}

